<form action="<%=post_url(@ost)%>" method="POST">
<input type="hidden" 
    name="authenticity" 
    value="<%=form_authenticity_token %>">
<input type="hidden" name="_method" value="PATCH">

<label for="title">Title</label>
<input type="text" name="post[title]" id="title" value="<%=@post.title%>">

<label for="url">Url</label>
<input type="text" name="post[url]" id="url" value="<%=@post.url%>">

<label for="content">Content</label>
<input type="text" name="post[content]" id="content" value="<%=@post.content%>">

<%# <input type="submit" value="Submit"> %>
<button>Submit</button>


</form>